// Main shader that includes utility functions
#include "utils.wgsl.template"

@compute @workgroup_size(64)
fn main(@builtin(global_invocation_id) global_id: vec3<u32>) {
    let index = global_id.x;
    let data = load_data(index);
    let result = process_data(data);
    store_result(index, result);
}
